<app-navbar [navBar]="navBarConfig"></app-navbar>

<article class="weui-article">
  <h1>诚聘优才</h1>
  <p>
    广州猎金网络科技有限公司是一家经广州市工商管理部门正式登记注册、拥有自主研发的互联网信息化管理软件系统的专业化商务公司，“大牛管家”是公司推出的现代高端服务品牌，由商界成功企业家、体育运动专家、部队退役军官团队创建并管理，禀承“优质、安全、健康、舒心”的服务理念，旨在为全国高端商务人士提供“安全防护、科学运动、驾驶出行”三大类日常综合管家服务。主要从部队退伍兵和体育院校毕业生中精挑细选综合素质较高的精英人才，并经过系统、严格的军事、防卫、救护、健身、驾驶、法律、礼仪、心理等科目培训，考核合格后按需择优安排上岗，统一实行区域化管理，定期组织升级培训，持续提升服务品质。</p>
  <p><b>现因业务发展需要，诚聘大牛管家100人</b></p>

  <section>
    <h3>岗位职责：</h3>
    <p>主要为互联网、房地产、金融、影视等行业的企业高管、社会名人提供安全防护、科学运动、驾驶出行等日常综合管家服务。</p>
  </section>
  <section>
    <h3>招聘要求：</h3>
    <ol>
      <li>具有C1以上驾照且驾龄不低于1年，驾驶技术熟练、熟悉各种车型；</li>
      <li>身体健康，无犯罪记录，身高170cm以上，年龄在23-30周岁；</li>
      <li>专业要求：退伍军人或体育院校特长生，包括足球、篮球、羽毛球、乒乓球、田径、游泳、武术、运动康复以及健身、体育教育、社会体育、中医理疗等专业。</li>
    </ol>
  </section>
  <section>
    <h3>薪资待遇：</h3>
    <ul>
      <li>培训期2个月（广州基地实行半军事化管理）包食宿，补贴50元/天，提供统一服装；</li>
      <li>培训合格后正式上岗，签订劳动合同；</li>
      <li>根据培训成绩与个人表现定岗定级，薪资待遇在8000-16000元/月，购买社保五险。</li>
    </ul>
  </section>
  <section>
    <h3>工作地点：</h3>
    <p>北京、上海、广州、深圳、杭州及各省会城市（根据工作需要及个人意愿就近分配）</p>
  </section>
  <section>
    <h3>报名方式：</h3>
    <p>点击网站<a routerLink="/front/resume/post" queryParamsHandling="merge">http://wap.danius.cn/front/resume/post</a>，填写报名登记表，将有专人与您电话联系。</p>
    <p>如需咨询详情，请扫描下方二维码，添加微信“大牛管家（daniuguanjia666）”</p>
  </section>
  <section>
    <div class="resume-code">
      <img src="/assets/images/resume-code.jpg">
    </div>
    <p>报名后我们将尽快（一周内）安排电话与您沟通具体事宜。</p>
  </section>
</article>
<!--<div class="content-scrollable has-footer">
  <h1>诚聘优才</h1>
  <p class="indent">
    广州猎金网络科技有限公司是一家经广州市工商管理部门正式登记注册、拥有自主研发的互联网信息化管理软件系统的专业化商务公司，“大牛管家”是公司推出的现代高端服务品牌，由商界成功企业家、体育运动专家、部队退役军官团队创建并管理，禀承“优质、安全、健康、舒心”的服务理念，旨在为全国高端商务人士提供“安全防护、科学运动、驾驶出行”三大类日常综合管家服务。主要从部队退伍兵和体育院校毕业生中精挑细选综合素质较高的精英人才，并经过系统、严格的军事、防卫、救护、健身、驾驶、法律、礼仪、心理等科目培训，考核合格后按需择优安排上岗，统一实行区域化管理，定期组织升级培训，持续提升服务品质。</p>
  <p><b>现因业务发展需要，诚聘大牛管家100人</b></p>

  <div class="rule-list">
    <div class="rule-tit"><span>岗位职责：</span></div>
    <p>主要为互联网、房地产、金融、影视等行业的企业高管、社会名人提供安全防护、科学运动、驾驶出行等日常综合管家服务。</p>
    <div class="rule-tit"><span>招聘要求：</span></div>
    <dl class="rule-txt">
      <dt>1)</dt>
      <dd>
        <p class="txt">具有C1以上驾照且驾龄不低于1年，驾驶技术熟练、熟悉各种车型；</p>
      </dd>
    </dl>
    <dl class="rule-txt">
      <dt>2)</dt>
      <dd>
        <p class="txt">身体健康，无犯罪记录，身高170cm以上，年龄在23-30周岁；</p>
      </dd>
    </dl>
    <dl class="rule-txt">
      <dt>3)</dt>
      <dd>
        <p class="txt">专业要求：退伍军人或体育院校特长生，包括足球、篮球、羽毛球、乒乓球、田径、游泳、武术、运动康复以及健身、体育教育、社会体育、中医理疗等专业。</p>
      </dd>
    </dl>
    <div class="rule-tit"><span>薪资待遇：</span></div>
    <p>培训期2个月（广州基地实行半军事化管理）包食宿，补贴50元/天，提供统一服装；</p>
    <p>培训合格后正式上岗，签订劳动合同；</p>
    <p>根据培训成绩与个人表现定岗定级，薪资待遇在8000-16000元/月，购买社保五险。</p>
    <div class="rule-tit"><span>工作地点：</span></div>
    <p>北京、上海、广州、深圳、杭州及各省会城市（根据工作需要及个人意愿就近分配）</p>
    <div class="rule-tit"><span>报名方式</span></div>
    <p>点击网站<a href="/form/resume">http://app.yfq.cn/form/resume</a>，填写报名登记表，将有专人与您电话联系。</p>
    <p>如需咨询详情，请扫描下方二维码，添加微信“大牛管家（daniuguanjia666）”</p>
  </div>

  <div class="resume-code">
    <div class="img-box">
      <img src="/images/resume-code.jpg">
    </div>
  </div>
  <p>报名后我们将尽快（一周内）安排电话与您沟通具体事宜。</p>
</div>-->
