<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">订单编号：2015845 <span class="right">第一期</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <swiper class="swiper-container" [config]="swiperConfig">

          <img class="avatar" src="/assets/images/avatars/1.jpg">
          <img class="avatar" src="/assets/images/avatars/2.jpg">
          <img class="avatar" src="/assets/images/avatars/3.jpg">
        </swiper>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_link">
        <div class="weui-cell__bd"></div>
        <span class="weui-cell__ft">已经评价</span>
      </a>
    </div>
  </div>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">订单编号：2015845 <span class="right">第一期</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <swiper class="swiper-container" [config]="swiperConfig">

          <img class="avatar" src="/assets/images/avatars/1.jpg">
          <img class="avatar" src="/assets/images/avatars/2.jpg">
          <img class="avatar" src="/assets/images/avatars/3.jpg">
          <img class="avatar" src="/assets/images/avatars/1.jpg">
          <img class="avatar" src="/assets/images/avatars/2.jpg">
          <img class="avatar" src="/assets/images/avatars/3.jpg">
          <img class="avatar" src="/assets/images/avatars/1.jpg">
          <img class="avatar" src="/assets/images/avatars/2.jpg">
          <img class="avatar" src="/assets/images/avatars/3.jpg">
        </swiper>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd"></div>
        <span class="weui-cell__ft">尚未评价</span>
      </a>
    </div>
  </div>
</div>
