<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div class="weui-panel">
    <div class="weui-panel__hd">2017-12-28 17:54 <span class="right">等待平台审批</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>请假类型</p>
            </div>
            <span class="weui-cell__ft">事假</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>开始时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-30 9:00</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>结束时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-31 9:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__hd">2017-12-28 17:54 <span class="right">等待平台审批</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>请假类型</p>
            </div>
            <span class="weui-cell__ft">事假</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>开始时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-30 9:00</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>结束时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-31 9:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__hd">2017-12-28 17:54 <span class="right">等待平台审批</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>请假类型</p>
            </div>
            <span class="weui-cell__ft">事假</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>开始时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-30 9:00</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>结束时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-31 9:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__hd">2017-12-28 17:54 <span class="right">等待平台审批</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>请假类型</p>
            </div>
            <span class="weui-cell__ft">事假</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>开始时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-30 9:00</span>
          </div>
          <div class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>结束时间</p>
            </div>
            <span class="weui-cell__ft">2017-12-31 9:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
